*, *:before, *:after {
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: #072227;
    margin: 0;
    padding: 0;
}

.container{
    width: 450px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 8px;
    border: 2px solid #35858B;
    border-radius: 20px;
    padding: 35px 20px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
    background-color: #F7F7F7;
}


.form{
    flex: 1;
}



.form_group{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin-bottom: 25px;
    row-gap: 5px;
    width: 100%;
    padding: 5px;
}

label{
    font-weight: 500;
}


input{
    border: 2px solid rgba(7, 34, 39, 0.21);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding-left: 5px;
    font-weight: 500;
    font-size: 14px;
}

input:focus{
    border: 1px solid #35858B;
    outline: 1px solid #35858B;
}

.error{
    border: 2px solid red;
    color: #E42F45;
}

.error[placeholder]{
    color: #E42F45;
    opacity: 1;
}

.error[value]{
    color: #E42F45;
}

.error_message{
    padding: 4px 2px;
    margin: 0;
    text-align: start;
    font-size: 0.8em;
    color: #E42F45;
    font-style: italic;
}

.form_button{
    display: flex;
}

button{
    padding: 12px 40px;
    margin: 0 auto;
    width: 80%;
    background-color: #35858B;
    border: 1px solid #35858B;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0 rgba(7, 34, 39, 0.21), -1px -1px 1px 0 rgba(7, 34, 39, 0.21);
    color: white;
    font-weight: bold;

}

button:active{
    transition: box-shadow 0.2s;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2), -2px -2px 8px 0 rgba(0, 0, 0, 0.19);
}

.eye{
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0px;
    border: none;
    right: 15px;
    bottom: 10px;
    z-index: 2;
    cursor: pointer;
    border-radius: 50px;
    background-color: transparent;
    box-shadow: none;
}

.visible:focus-visible::before , .hide:focus-visible::before{
    content: "Password is visible";
    position: absolute;
    top: -31px;
    left: -40px;
    padding: 5px;
    width: 115px;
    height: 25px;
    background-color: rgba(7, 34, 39, 0.21);
    transition: box-shadow 0.2s;
    z-index: 2;
    border-radius: 20px;
    opacity: 0.7;
    font-weight: bold;
    font-size: 10px;
    color: white;
}

.visible:active,.hide:active{
    outline: none;
    background-color: rgba(103, 103, 103, 0.09);
}

.eye img{
    object-fit: cover;
    width: 25px;
    height: 25px;
}


/*------ ------*/

.scalable{
    flex-basis: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.scalable p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5rem;
}

.percent{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#35858B 0% 65%, #ccc 65% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: rgba(103, 103, 103, 0.09);
    position: relative;
}

.percent::before {
    content: "";
    width: 90px;
    height: 90px;
    background: #F7F7F7;
    border-radius: 50%;
    position: absolute;
}

span{
    margin: 0;
    padding: 0;
    color: #35858B;
    font-weight: bold;
    font-size: 1.6rem;
    position: relative;
    z-index: 1;
}

.card{
    border-radius: 30px;
    height: 280px;
    margin: auto 15px ;
    word-break: keep-all;
    word-wrap: break-word;
    background-color: #AEFEFF;
    font-size: 14px;
}

.card ul {
    list-style: none;
    padding: 0 15px;
}

.card ul li{
    padding: 5px;
    text-align: start;
}

.barred{
    text-decoration: line-through;
    color: rgba(103, 103, 103, 0.49);
}
