*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #393E46;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    width: 56%;
    margin: auto;
    padding: 20px;
    position: relative;

}


.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(239, 239, 239, 0.27);
    padding: 20px;
}

.first , .second , .third{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}


.ill_first{
    grid-row: 1/5;
    width: 100%;
    height: 100%;
    box-shadow: -1px 0px 2px #EFEFEF;
}

.ill_first_{
    grid-row: 1/5;
    width: 100%;
    height: 100%;
    box-shadow: 1px -1px 2px #EFEFEF;
}

.ill_second{
    grid-row: 5/7;
    width: 100%;
    height: 100%;
    box-shadow: -1px 1px 2px #EFEFEF;

}

.ill_second_{
    grid-row: 5/7;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 2px #EFEFEF;
}

.unordered_first{
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    box-shadow: 0px -1px 2px #EFEFEF;

}

.unordered_second{
    grid-row: 3/7;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 2px #EFEFEF;

}

img{
    object-fit: cover;
}